<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineCrystalStore</title>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top kendo-style-black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnlineCrystalStore", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("About Us", "AboutUs", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Comments", "Index", "PagebleCommentList", new { area = string.Empty }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Cart", "ListItems", "ShoppingCart", new { area = string.Empty }, null)</li>
                        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li>
                                <span class="text-center text-warning">Administration</span>
                            </li>
                            <li>@Html.ActionLink("Comments", "Index", "Comments", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Orders", "Index", "Order", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Items", "Index", "Crystals", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Add Item", "Add", "Crystal", new { area = string.Empty }, null)</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-info row">
            <p><span class="col-sm-6">&copy; @DateTime.Now.Year - <strong>OnlineCrystalStore</strong></span><span class="col-sm-6 text-center"><strong>Email - </strong>@GlobalConstants.ContactEmail <strong>&nbsp&nbsp&nbsp&nbspPhone - </strong>@GlobalConstants.ContactPhoneNumber</span></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
