@model IEnumerable<OnlineCrystalStore.Web.ViewModels.Comment.CommentViewModel>
@{
    ViewBag.Title = "ListComments";
}

<h2>Latest Commetns</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            @foreach (var comment in Model)
            {
                <div class="row text-center">
                    <h3 class="col-md-8">@comment.Title</h3>
                </div>
                    <div class="row text-center">
                        <p class="col-md-8">@comment.Content</p>
                    </div>
                    <div class="row text-center">
                        <sub class="col-md-4"><strong>@comment.Author</strong></sub> <sub class="col-md-4">@comment.CreatedOn</sub>
                    </div>
                    <br />
            }

        </section>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_CommentPartial", new OnlineCrystalStore.Web.ViewModels.Comment.CommentViewModel { })
            </section>
        </div>
    }
</div>


