@model IEnumerable<OnlineCrystalStore.Web.ViewModels.Comment.CommentViewModel>
@{
    ViewBag.Title = "ListComments";
}

<h2>Latest Commetns</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @foreach (var comment in Model)
            {
                <div class="row">
                    <strong>@comment.Title</strong>
                    <p>@comment.Content</p>
                    <sub>@comment.Author</sub> <sub>@comment.CreatedOn</sub>
                </div>
            }

        </section>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_CommentPartial", new OnlineCrystalStore.Web.ViewModels.Comment.CommentViewModel { })
            </section>
        </div>
    }
</div>


