@model IList<OnlineCrystalStore.Web.ViewModels.Home.IndexViewModel>
@{
    ViewBag.Title = "ListCrystals";
}
<style>
    .slide-image {
        width: 100%;
    }

    .carousel-holder {
        margin-bottom: 30px;
    }

    .carousel-control,
    .item {
        border-radius: 4px;
    }

    .caption {
        height: 130px;
        overflow: hidden;
    }

        .caption h4 {
            white-space: nowrap;
        }

    .thumbnail img {
        width: 100%;
        height: 150px;
    }

    .ratings {
        padding-right: 10px;
        padding-left: 10px;
        color: #d17581;
    }

    .thumbnail {
        padding: 0;
    }

        .thumbnail .caption-full {
            padding: 9px;
            color: #333;
        }

    footer {
        margin: 50px 0;
    }
</style>

<div class="container">
    <div class="row">
        <br />
        <div class="col-md-3">
            @*<p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>*@
        </div>
        <div class="col-md-9">            
            <div class="row">
                @foreach (var crystal in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            @if (crystal.CrystalPictureId != null)
                            {
                                <img src="@Url.Action("Image", "Crystal", new { id = crystal.CrystalPictureId.Value })" alt="@crystal.Name" />
                            }
                            <div class="caption">
                                <h4 class="pull-right">$@crystal.Price</h4>
                                <h4>
                                    <a href="/Crystal/Details/@crystal.Id">@crystal.Name</a>
                                </h4>
                                <p>@crystal.Description</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">@crystal.Mine</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>






